@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: var(--font-fira-code);
}

.mono-text {
  font-family: var(--font-fira-code);
}

body {
  font-family: var(--font-fira-code);
}

/* Animation utilities */
.animate-in {
  animation-duration: 300ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --enter-opacity: 0;
  --enter-scale: 0.9;
  animation-fill-mode: forwards;
  opacity: var(--enter-opacity);
  transform: scale(var(--enter-scale));
}

.fade-in {
  animation-name: fade-in;
}

.zoom-in-50 {
  --enter-scale: 0.5;
  animation-name: zoom-in;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

@keyframes zoom-in {
  to {
    transform: scale(1);
  }
}

/* Optional: Add page transition */
.page-transition {
  animation: pageTransition 300ms ease-in-out;
}

@keyframes pageTransition {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.theme-preview {
  isolation: isolate;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.theme-preview * {
  border-color: rgba(0, 0, 0, 0.1);
}

.theme-preview .divider {
  margin: 2rem 0;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
}


.preview-isolator {
  isolation: isolate;
  background: var(--b1);
  color: var(--bc);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.preview-isolator * {
  color-scheme: light;
}
